@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    padding: 3% 3% 1% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.libraryLogo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.libraryLogo img {
    width: 40px;
    height: 40px;
}


main {
    margin-top: 2%;
    padding: 20px;
    flex: 1;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


main table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid rgba(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.95rem;
}

table img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

table img:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

th,
td {
    border: 1px solid rgba(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

tr {
    transition: ease-in-out 200ms;
}

button {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    font-size: 0.9rem;
    font-weight: bold;
    gap: 10px;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    background-color: white;
    border-radius: 10px;
    transition: ease-in .4s;
    cursor: pointer;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover {
    background-color: rgba(230, 230, 230);
}

footer {
    margin-top: 25vh;
    align-self: flex-end;
    height: 8vh;
    padding: 20px 0px;
    font-size: 0.8rem;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 6px;
}

footer img {
    width: 15px;
    height: 15px;
    transition: ease-in-out .4s;
}

footer img:hover {
    filter: brightness(1.2);
    transform: scale(1.15) rotate(360deg);
}




/* ==============================Add Item Popup============================================= */

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px 20px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}


.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-element {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.805);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.close-btn {
    font-weight: bolder;
    align-self: flex-end;
    text-align: center;
    padding: 1px 8px;
    border: 1px solid #E2E8F0;
    border-radius: 50%;
    background-color: #E2E8F0;
    transition: ease-in-out .2s;
    cursor: pointer;
    color: gray;
}

.close-btn:hover {
    filter: brightness(1.3);
    border: 1px solid red;
    color: white;
    background-color: red;
    
}

input {
    width: 350px;
    height: 35px;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #c1c1c2;
}

select {
    width: 350px;
    height: 35px;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #c1c1c2;
    background-color: white;
}

button[type="submit"] {
     padding: 16px 80px;
     margin-bottom: 20px;
     outline: none;
     border: none;
     background-color: rgba(0, 0, 0, 0.85);
     color: white;
     transition: .4s;
     cursor: pointer;
     font-size: 1rem;
     font-weight: bold;
     align-self: center;
     margin-top: 15px;
}


button[type="submit"]:hover {
    filter: brightness(1.2);
    background-color: rgba(0, 0, 0, 0.9);
}


/* =================================================================================================================== */
